/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterisk wildcard selector to override default styles of browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(41, 40, 40);
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
    color: rgb(41,40, 40);
    flex-grow: 1;
    text-align: center;
}

h2,h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    letter-spacing: 1px;
    color: rgb(41,40, 40);
    flex-grow: 1;
    text-align: center;
}

/* Header */
header {
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 1.5px;

}

#menu > li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.live {
    border-bottom: 2px solid rgb(27, 255, 7);
}

/* Navigation bar dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
}

/* Hide the checkbox */
#navigation-toggle {
    display: none;
}

/* navigation toggle */
#navigation-toggle:checked~nav {
    display: block;
}

.navigation-toggle-label {
    position: relative;
    z-index: 1;
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

header {
    justify-content: space-between;
}

header a {
    flex: 1;
}

#navigation-toggle {
    position: absolute;
    right: 1rem;
}

/* Main */
main {
    /* Force main element to take any excess space to push down footer */
    flex: 1 0 auto;
    padding: 1rem;
    margin-top: 4rem;
}

/* Top Dog section*/
#top-dog {
    height: 800px;
    width: 100%;
    background: url("../images/top-dog.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    /* Align items at the bottom */
    align-items: flex-end;
}

#cover-text {
    /* Setting opacity for transparency */
    background-color: rgba(11, 240, 183, .6);
    font-size: 120%;
    bottom: 20px;
    width: 75%;
    min-height: 180px;
    padding-top: 30px;
    padding-left: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#cover-text > h2, #cover-text > h3 {
    color: rgb rgb(255, 255, 255);
}

/* Reasons section */

#reason {
    margin: 25px auto;
    width: 95%;
}

#reason h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 250%;
}

#best-choice {
    line-height: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#best-choice p {
    padding: 0 25px;
}

#best-choice hr {
    border-top: 2px solid rgb(41,40, 40);
    margin: 5px 0;
}

#expert-care, #socialization, #safe-place {
    line-height: 25px;
    margin-bottom: 25px;
}

/* Images container below text */

#image-container {
    display: flex;
    justify-content: center;
    /* Space between images */
    gap: 100px;
    margin-top: 25px;
}

#circle-cover1 {
    background: url('../images/dogs-chilling.jpg') no-repeat top center/cover;
    background-size: cover;
    background-position: center;
    height: 80vw;
    width: 80vw;
    margin-bottom: 25px;
    /* Make image circle */
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
}

#circle-cover2 {
    background: url('../images/two-dogs.jpg') no-repeat top center/cover;
    background-size: cover;
    background-position: center;
    height: 80vw;
    width: 80vw;
    margin-bottom: 25px;
    /* Make image circle */
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
}

#best-choice {
    text-align: center;
}

/* Footer */
#social-net {
   text-align: center;
   display: flex;
   padding: 15px 0;
   justify-content: space-evenly;
   list-style-type: none;
}

#social-net i {
    font-size: 150%;
    padding: 25%;
    color: rgb(41, 40, 40);

}

/* Media query: tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-left: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-right: 1rem;
    }
    .navigation-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 80px;
        padding-left: 17.5%;
        margin: 0 0 0.5rem;
    }
    
    #cover-text {
        width: 300px;
        right: 40px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    #best-choice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #best-choice > div {
        width: 100%;
        margin: 20px 0;
    }

    #circle-cover1, #circle-cover2 {
        width: 60vw;
        height: 60vw;
        max-width: 250px;
        max-height: 250px;
    }
}

/* Media query: laptops and larger (992px and larger) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid rgb(27, 255, 7);
    }

    #best-choice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #best-choice > div {
        width: 80%;
        margin: 20px 0;
    }

    #circle-cover1, #circle-cover2 {
        width: 70vw;
        height: 70vw;
        max-width: 350px;
        max-height: 350px;
    }
}

/* Media query: desktops and larger (1200px and larger) */

@media screen and (min-width: 1200px) {
    /* Reasons section */
    #best-choice {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #best-choice > div {
        width: 80%;
        margin: 20px 0;
    }

    #circle-cover1 , #circle-cover2 {
        width: 80vw;
        height: 80vw;
        max-width: 450px;
        max-height: 450px;
    }
}